<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.EmployeeDetailsConnectionString"
            connectionString="Data Source=MCNDESKTOP30;Initial Catalog=EmployeeDetails;User ID=sa;Password=Password$2"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.EmployeeSalConnectionString"
            connectionString="Data Source=MCNDESKTOP30;Initial Catalog=EmployeeSal;User ID=sa;Password=Password$2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>